@import "tailwindcss";
@import "./theme.css";
@import "./layout.css";
@import "./header.css";
@import "./content.css";
@import "./footer.css";
@import "./badges.css";
@import "./tooltips.css";
@import "./popovers.css";
@import "./dialogs.css";
@import "./listboxes.css";
@import "./comboboxes.css";
@import "./disclosures.css";
@import "./menus.css";
@import "./treeviews.css";
@import "./tabs.css";
@import "./overlay-kernel.css";
@import "./overlay-panel.css";
@import "./preset-classic.css";
